<h1>Appearance for <%= @appearance.guest.name %></h1>
<p>Was on this show on <%= @appearance.episode.date %></p>
<p>Was rated <%= @appearance.rating %></p>
<p> Was added by Producer (user): <%= @appearance.user %></p>
